//- Custom Configuration
block config
    - var baseUrl = config.baseUrl || './'
    - var pageClass = config.pageClass || 'default'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title oki-doki
    meta(name='description', content= 'A new Yeogurt application')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Scada:400,400i,700,700i" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans&amp;subset=cyrillic" rel="stylesheet")
    
    block stylesheets
        link(rel='stylesheet', href= baseUrl + 'styles/main.css')

body.ui-page
    <!--[if lt IE 9]>
    <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    header.ui-header 
        .ui-header__content
            .grid.grid--container
                .row.row--xl-center
                    .col.col--xl-2.col--md-3
                        a.ui-logo(href="/")
                            img(src="/images/header-logo.png")
                    .col.col--xl-8.col--md-6.col--md-flex.ui-header__info
                        .ui-slogan  Производство и продажа#[br] офисных перегородок
                        .ui-address.ui-address__header
                            img(src="/images/location.png")
                            | Г. МОСКВА,#[br]  СОКОЛЬНИЧЕСКИЙ ВАЛ, 1А
                        .ui-regim ПН-ЧТ 9:00 — 19:00#[br] ПТ 9:00 — 18:00
                    .col.col--xl-2.col--md-3.text--xl-center
                        .ui-phone 8 (495) 663 18 81
        .ui-header__menu
            .grid.grid--container
                .row.row--xl-center
                    nav.ui-menu.col.col--xl-10.col--xl-flex
                      .ui-menu__item
                          a.ui-menu__link(href="/catalog/") Каталог
                      .ui-menu__item
                          a.ui-menu__link(href="/configurations/") Конфигурации
                      .ui-menu__item
                          a.ui-menu__link(href="") Сервис
                      .ui-menu__item
                          a.ui-menu__link(href="/projects/") Проекты
                      .ui-menu__item
                          a.ui-menu__link(href="") Цены
                      .ui-menu__item
                          a.ui-menu__link(href="") Направления
                      .ui-menu__item
                          a.ui-menu__link(href="/about/") О компании
                      .ui-menu__item
                          a.ui-menu__link(href="") Дилерам
                      .ui-menu__item
                          a.ui-menu__link(href="/faq/") Вопрос-ответ
                      .ui-menu__item
                          a.ui-menu__link(href="") Контакты
                    .col.col--xl-2.js-show-callback
                        a.ui-button.ui-button--size-lg.ui-button--default.ui-button--callback Перезвоните мне
                    
    main.ui-content
        block content
        
    footer.ui-footer
        .grid.grid--container
            .row.row--xl-center
                .col.col--xl-2
                    a.ui-logo(href="/")
                        img(src="/images/footer-logo.png")
                .ui-address.col.col--xl-8 Г. МОСКВА,  СОКОЛЬНИЧЕСКИЙ ВАЛ, 1А
                .col.col--xl-2.text--xl-right
                    .ui-phone__footer.ui-phone 8 (495) 663 18 81
            .row.row--xl-center
                .col.col--xl-2
                    .ui-slogan  Производство и продажа#[br] офисных перегородок
                nav.ui-footer-menu.col.col--xl-8.col--xl-flex
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") Каталог
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") Конфигурации
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") Сервис
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") Проекты
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") Цены
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") Направления
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") О компании
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") Дилерам
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") Вопрос-ответ
                  .ui-footer-menu__item
                      a.ui-footer-menu__link(href="") Контакты
                .col.col--xl-2.text--xl-right
                    .ui-regim ПН-ЧТ 9:00 — 19:00#[br] ПТ 9:00 — 18:00
        .grid.grid--no-gutters
            .row.row--xl-center.row--no-gutters
                .ui-footer-copy.col.col--xl-12.col--no-gutters
                    .ui-copy © 2001-2017 «ОКИ-ДОКИ»#[br] Все представленные материалы защищены авторскими правами. Воспроизведение или распространение указанных материалов в любой форме может#[br] производиться только с письменного разрешения правообладателя. При использовании, ссылка на правообладателя и источник заимствования обязательна.
    block scripts
        script(src= baseUrl + 'scripts/main.js')
