extends ../_layouts/base

block config
  - var baseUrl = '../'

block content
    .ui-gallery
        .grid.grid--container
            .row
                .col.col--xl-12
                    .ui-page__header.ui-heading.ui-heading--lvl2.ui-heading--black фотогалерея
            .row.js-gallery
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/1.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            a.ui-gallery-cart__link(href="/images/gallery/1.png") +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/2.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/3.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/4.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/1.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/2.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/3.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/4.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/1.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/2.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/3.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
                .col.col--xl-3
                    .ui-gallery-cart(style="background-image: url('/images/gallery/4.png')")
                        .ui-gallery-cart__box
                            .ui-gallery-cart__title Офисные перегородки «ОКИ-ДОКИ»
                            .ui-gallery-cart__link +
            .row
                .col.col--xl-12
                    .ui-pagination
                        a.ui-button.ui-button--size-md.ui-button--pagination-prev Назад
                        a.ui-pagination__item 1
                        a.ui-pagination__item
                            span 2
                        a.ui-pagination__item 3
                        a.ui-pagination__item 4
                        a.ui-pagination__item 5
                        span ...
                        a.ui-button.ui-button--size-md.ui-button--pagination-next Дальше
