extends ../../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../../'

block content
    .ui-text-page
        .grid.grid--container
            .row
                .col.col--xl-12
                    .ui-page__header.ui-heading.ui-heading--lvl2.ui-heading--black Монтаж перегородок
            .row
                .col.col--xl-4.col--xl-flex
                    .ui-box.ui-box--gray.ui-box--flex
                        img.ui-image.ui-image--responsive(src="/images/terms-for-assembly.png", alt="")
                        .ui-box__content
                            p Грамотный монтаж определяет долговечность, внешний вид и надежность использования конструкций в будущем.
                            p Профессиональная установка перегородок обеспечивает высококачественный результат, оперативность выполнения работ и соответствующие гарантии. 

                .col.col--xl-8.col--xl-flex
                    .ui-box.ui-box--gray.ui-box--flex
                        h2.ui-heading.ui-heading--lvl4.ui-heading--black Факторы, определяющие особенности выполнения работ
