extends ../_layouts/base

block config
  - var baseUrl = '../'

block content
    .ui-projects
        .grid.grid--container
            .row
                .col.col--xl-12
                    .ui-projects__header.ui-heading.ui-heading--lvl2.ui-heading--black проекты компании
            .row
                .col.col--xl-4
                    .ui-projects-cart
                        .ui-projects-cart__img(style="background-image: url('/images/projects/1.png')")
                            .ui-projects-cart__title ЗАО коммерческий банк#[br] «Ростовский универсальный»
                        .ui-projects-cart__description
                            .ui-projects-cart__time Срок реализации:
                                span 2 недели
                            .ui-projects-cart__text Компания «Оки-Доки» в сжатые сроки создала новый интерьер для офиса ЗАО Коммерческий банк...
                            .ui-projects-cart__link
                                a.ui-circle-button.ui-circle-button--black.ui-circle-button--size-md(href="#")
                                    i +
                .col.col--xl-4
                    .ui-projects-cart
                        .ui-projects-cart__img(style="background-image: url('/images/projects/2.png')")
                            .ui-projects-cart__title «Керии Логистикс»
                        .ui-projects-cart__description
                            .ui-projects-cart__time Срок реализации:
                                span 2 недели
                            .ui-projects-cart__text Переезд в новый офис довольно затяжной и трудоемкий процесс. Зачастую, в нашу компанию обращаются...
                            .ui-projects-cart__link
                                a.ui-circle-button.ui-circle-button--black.ui-circle-button--size-md(href="#")
                                    i +
                .col.col--xl-4
                    .ui-projects-cart
                        .ui-projects-cart__img(style="background-image: url('/images/projects/3.png')")
                            .ui-projects-cart__title «МКУНТ»
                        .ui-projects-cart__description
                            .ui-projects-cart__time Срок реализации:
                                span 2 недели
                            .ui-projects-cart__text За помощью в установке перегородок в нашу компанию обращаются не только частные компании, но и...
                            .ui-projects-cart__link
                                a.ui-circle-button.ui-circle-button--black.ui-circle-button--size-md(href="#")
                                    i +
                .col.col--xl-4
                    .ui-projects-cart
                        .ui-projects-cart__img(style="background-image: url('/images/projects/4.png')")
                            .ui-projects-cart__title ООО «Молочный век»
                        .ui-projects-cart__description
                            .ui-projects-cart__time Срок реализации:
                                span 2 недели
                            .ui-projects-cart__text Компания «Перегородки для офиса» занимается не только перегородками, но и полностью воссоздаёт...
                            .ui-projects-cart__link
                                a.ui-circle-button.ui-circle-button--black.ui-circle-button--size-md(href="#")
                                    i +
                .col.col--xl-4
                    .ui-projects-cart
                        .ui-projects-cart__img(style="background-image: url('/images/projects/5.png')")
                            .ui-projects-cart__title ИП Ленисова Е.А.
                        .ui-projects-cart__description
                            .ui-projects-cart__time Срок реализации:
                                span 2 недели
                            .ui-projects-cart__text В компанию Оки-Доки часто обращаются за организацией рабочих кабинетов и торговых помещений,...
                            .ui-projects-cart__link
                                a.ui-circle-button.ui-circle-button--black.ui-circle-button--size-md(href="#")
                                    i +
                .col.col--xl-4
                    .ui-projects-cart
                        .ui-projects-cart__img(style="background-image: url('/images/projects/6.png')")
                            .ui-projects-cart__title «ИЛАН»
                        .ui-projects-cart__description
                            .ui-projects-cart__time Срок реализации:
                                span 2 недели
                            .ui-projects-cart__text Каждый не понаслышке знает, как сложно бывает найти то или иное лекарство. Лекарства в аптеках...
                            .ui-projects-cart__link
                                a.ui-circle-button.ui-circle-button--black.ui-circle-button--size-md(href="#")
                                    i +
                .col.col--xl-4
                    .ui-projects-cart
                        .ui-projects-cart__img(style="background-image: url('/images/projects/7.png')")
                            .ui-projects-cart__title ООО «Фиас констракшн»
                        .ui-projects-cart__description
                            .ui-projects-cart__time Срок реализации:
                                span 2 недели
                            .ui-projects-cart__text Часто бывает, что заказчику необходимо в сжатые сроки разделить отдельно рабочие зоны, при этом...
                            .ui-projects-cart__link
                                a.ui-circle-button.ui-circle-button--black.ui-circle-button--size-md(href="#")
                                    i +
                .col.col--xl-4
                    .ui-projects-cart
                        .ui-projects-cart__img(style="background-image: url('/images/projects/8.png')")
                            .ui-projects-cart__title «Русконстракшн»
                        .ui-projects-cart__description
                            .ui-projects-cart__time Срок реализации:
                                span 2 недели
                            .ui-projects-cart__text В феврале 2014 года наша компания устанавливала стационарные перегородки и двери в проемы для...
                            .ui-projects-cart__link
                                a.ui-circle-button.ui-circle-button--black.ui-circle-button--size-md(href="#")
                                    i +
                .col.col--xl-4
                    .ui-projects-cart
                        .ui-projects-cart__img(style="background-image: url('/images/projects/9.png')")
                            .ui-projects-cart__title Производственная компания
                        .ui-projects-cart__description
                            .ui-projects-cart__time Срок реализации:
                                span 2 недели
                            .ui-projects-cart__text В нашу компанию поступил очередной запрос на изготовление и монтаж перегородок. Менеджер...
                            .ui-projects-cart__link
                                a.ui-circle-button.ui-circle-button--black.ui-circle-button--size-md(href="#")
                                    i +
                
            .row
                .col.col--xl-12
                    .ui-pagination
                        a.ui-button.ui-button--size-md.ui-button--pagination-prev Назад
                        a.ui-pagination__item 1
                        a.ui-pagination__item
                            span 2
                        a.ui-pagination__item 3
                        a.ui-pagination__item 4
                        a.ui-pagination__item 5
                        span ...
                        a.ui-button.ui-button--size-md.ui-button--pagination-next Дальше
    .ui-price-calculate
        .grid.grid--container
            .row
                .col.col--xl-12
                    form.ui-form.ui-form-calcalate
                        .ui-form-calcalate__header
                            .ui-form-calcalate__title Узнать стоимость
                            .ui-form-calcalate__description Вы можете получить расчет стоимости в течение 1-2 часов
                        .col.col--xl-9
                            .ui-form-calcalate__content
                                .ui-form-calcalate__layout
                                    input.ui-input(type="text", placeholder="Контактное лицо")
                                    input.ui-input(type="text", placeholder="Телефон")
                                    a.ui-button.ui-button--size-lg.ui-button--default Расчитать стоимость
                                .ui-form-calcalate__about 
                                    .ui-form-calcalate__icon !
                                    .ui-form-calcalate__text Также Вы можете получить моментальную консультацию по стоимости #[br]у нашего специалиста просто позвонив по номеру: (495) 663 18 81
