.ui-button
    outline 0
    background rgba(255, 255, 255, 0)
    border 0
    color $color-default
    font-weight lighter
    font-family 'Rubik', sans-serif
    text-decoration none
    cursor pointer
    transition background-color .2s ease, color .2s ease

    &--size-lg
        font-size 20px
        padding 7px 40px
        line-height 32px
        border 1px solid
        border-radius 3px

    &--size-md
        font-size 20px
        font-family 'Panton'
        padding 16px 30px
        border 1px solid

    &--size-xs
        font-size 14px
        padding 7px 18px
        border-radius 3px
        line-height 32px
        color $color-dark
        background-image -moz-linear-gradient( 90deg, rgb(221,229,238) 0%, rgb(221,229,238) 53%, rgb(255,255,255) 100%)
        background-image -webkit-linear-gradient( 90deg, rgb(221,229,238) 0%, rgb(221,229,238) 53%, rgb(255,255,255) 100%)
        background-image -ms-linear-gradient( 90deg, rgb(221,229,238) 0%, rgb(221,229,238) 53%, rgb(255,255,255) 100%)

        &:hover
            background-color #fff
            color $color-darkcoral

    &--default
        background-color $color-darkcoral
        color $color-snow
        border-color $color-darkcoral
        text-align center

        &:hover
            background-color #fff
            color $color-darkcoral

    &--grey
        background #f9f9f9
        color $color-dark
        box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
        text-transform uppercase
        font-weight bold
        border-top 4px solid transparent
        padding 18px

        &:hover
        &^[1]--active
            color $color-dark
            border-top 4px solid $color-darkcoral

    &--black
        background-color $color-smokyblack
        color $color-snow
        border-color $color-smokyblack

        &:hover
            background-color $color-snow
            color $color-smokyblack

    &--transparent
        background-color rgba(11, 11, 11, 0.5)
        color $color-darkcoral
        padding 20px
        width 145px

        &:hover
        &^[1]--active
            background-color rgba(214, 80, 69, 0.5)
            color $color-darkcoral

    &--pagination-prev
        margin 0 40px
        background-color $color-pagination
        color $color-smokyblack
        border-color $color-pagination
        border-radius 2px
        box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)

        &:hover
            background-color $color-snow
            color $color-smokyblack

    &--pagination-next
        margin 0 40px
        background-color $color-smokyblack
        color $color-pagination
        border-color $color-smokyblack
        border-radius 2px
        box-shadow 0px 3px 5px 0px rgba(0, 0, 0, .1)

        &:hover
            background-color $color-snow
            color $color-smokyblack

    &--block
        display block
        text-align center
        width 100%

    &--callback
        padding 8px
        display block
        text-align center
        width 100%
        font-size 20px
        font-family 'Panton'
        border-radius 0

.ui-circle-button
    height 100%
    width 100%
    overflow hidden
    position relative
    display inline-block
    text-decoration none
    font-family 'Rubik'

    i
        font-style normal
        position absolute
        bottom 15px
        right 15px
        color #fff
        display block

    &:before
        height 100%
        width 200%
        position absolute
        content ''
        border-radius 100px 100px 0 0
        transform-origin 50% 100%
        transform rotate(-90deg)

    &--red
        &:before
            background-color $color-darkcoral

    &--grey
        &:before
            background-color $color-ashgrey

    &--black
        &:before
            background-color $color-smokyblack

    &--size-lg
        i
            bottom 15px
            right 15px
    &--size-md
        i
            line-height 18px
            bottom 14px
            right 15px
            font-size 26px

    &--size-xs
      i
          line-height 18px
          bottom 12px
          right 12px
          font-size 24px

.ui-quarter-button
    font-family 'Fira Sans'
    height 100%
    width 100%
    background #000
    font-size 50px
    color #fff
    align-items center
    justify-content center
    display flex
    line-height 22px
    padding 50px
    cursor pointer

    &:hover
        color #fff
