.ui-color-block
    box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
    display flex
    flex-direction column
    min-height 100%
    padding 47px 17px 37px
    background #f9f9f9

    &--line
        flex-direction row
        padding 35px 17px
        justify-content space-between

    &__content
        display flex
        border 2px solid #b2b2b2
        margin 20px 0

    &__content2
        display flex
        border 2px solid #b2b2b2
        width 48%

    &__color
        background-repeat no-repeat
        background-position 50% 50%
        background-size cover
        width 100%

    &__name
        font-family 'Panton'
        font-size 24px
        color #1c282a
        line-height 26px
        font-weight bold
        background #fff
        min-width 106px
        height 96px
        display flex
        flex-direction column
        align-items center
        justify-content center

    &__name2
        font-family 'Panton'
        font-size 20px
        color #1c282a
        line-height 26px
        font-weight bold
        background #fff
        height 96px
        min-width 110px
        padding 11px 8px 11px 7px
        display flex
        flex-direction column
        justify-content center

        span
            font-size 16px
