@font-face
    font-family 'Panton'
    font-style normal
    src url('/fonts/panton/Panton.otf')

@font-face
    font-family 'PantonRI'
    font-style normal
    src url('/fonts/panton/PantonRegularItalic.otf')
