@font-face
    font-family 'Panton'
    src url('/fonts/panton/panton.woff2') format('woff2'),
        url('/fonts/panton/panton.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'Panton'
    src url('/fonts/panton/panton-italic.woff2') format('woff2'),
        url('/fonts/panton/panton-italic.woff') format('woff')
    font-style italic
    font-weight normal

@font-face
    font-family 'Panton'
    src url('/fonts/panton/panton-bold.woff2') format('woff2'),
        url('/fonts/panton/panton-bold.woff') format('woff')
    font-style normal
    font-weight bold
