.ui-gallery-cart
    box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
    height 217px
    max-height 217px
    overflow hidden
    width 100%
    background-repeat no-repeat
    background-size cover
    background-position 50% 50%
    margin 15px 0

    &__box
        display flex
        flex-direction column
        justify-content center
        align-items center
        text-align center
        background rgba(0, 0, 0, 0.5)
        height 100%
        width 100%
        transition all 0.45s ease-in-out
        opacity 0

        &:hover
            opacity 1

    &__title
        font-family 'Panton'
        font-size 20px
        color #fff
        line-height 26px
        padding-bottom 20px

    &__link
        height 56px
        width 56px
        font-family 'Panton'
        font-size 50px
        color #ffffff
        line-height 26px
        border-radius 50%
        border 2px solid #fff
        display flex
        justify-content center
        align-items center
