.ui-heading
    margin 0
    padding 0

    &--white
        color $color-snow

    &--black
        color #1c282a
        font-weight bold

    &--lvl2
        font-family 'Panton'
        font-size 40px
        line-height 50px

    &--lvl3
        font-family 'Panton'
        font-size 30px
        line-height 30px

    &--lvl4
        font-family 'Panton'
        font-size 26px
        line-height 32px

    &--uppercase
        text-transform uppercase
