.ui-material-box
    font-family 'Panton'
    font-size 26px
    color #ffffff
    background #000
    line-height 22px
    display flex
    align-items center
    justify-content space-between
    background-repeat no-repeat
    background-size cover
    background-position 50% 50%
    height 75px
    width 100%
    margin-bottom 50px

    &__title
        padding-left 28px

    &__link
        width 75px
        height 75px
