.ui-product-cart-small
    background $color-bondiblue
    color #fff
    font-family 'Panton'
    width 502px
    box-shadow 0px 3px 21px 0px rgba(0, 0, 0, 0.2)

    &--darkcoral
        background $color-darkcoral

    &__title
        font-size 26px
        line-height 32px
        border-bottom 1px solid #43b4bb
        padding 27px 30px 15px 30px

        &--darkcoral
            border-bottom 1px solid #df7d76

    &__description
        font-size 20px
        line-height 26px
        padding 25px 30px 30px 30px

    &__footer
        background #fff
        color $color-smokyblack
        font-weight bold
        font-size 26px
        line-height 32px
        position relative

    &__link
        width 79px
        height 79px
        position absolute
        bottom 0
        right 0

    &__price
        padding 37px 79px 20px 30px

    &__time
        padding 0 79px 20px 30px
