.ui-product-cart-small
    background $color-bondiblue
    color #fff
    font-family 'Panton'
    width 100%
    box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
    display flex
    flex-direction column

    &--darkcoral
        background $color-darkcoral

    &__title
        font-size 26px
        line-height 32px
        border-bottom 1px solid #43b4bb
        padding 20px 29px 17px 29px

        &--darkcoral
            border-bottom 1px solid #df7d76

    &__description
        font-size 20px
        line-height 26px
        padding 21px 29px 30px
        flex 1

    &__footer
        background #fff
        color $color-smokyblack
        font-weight bold
        font-size 26px
        line-height 32px
        position relative

    &__link
        width 79px
        height 79px
        position absolute
        bottom 0
        right 0

    &__price
        padding 32px 80px 10px 29px

    &__time
        padding 6px 80px 38px 29px

.ui-product-cart-mini
    font-family 'Panton'
    font-size 17px
    color #fff
    line-height 22px
    font-weight bold
    margin-bottom 17px
    cursor pointer

    &__content
        flex 1
        display flex
        flex-direction column
        justify-content space-around
        padding 10px 15px

    &__link
        width 130px
        font-family 'Fira Sans'
        height 100%
        background #000
        font-size 50px
        color #fff
        align-items center
        justify-content center
        display flex
        padding 54px 0
        transition all .1s ease

    &:hover
        & ^[0]__link
            background-color #963830
            color #fff
            width 75px

.ui-product-cart
    box-shadow 0px 3px 5px 0px rgba(0, 0, 0, .1)
    position relative
    cursor pointer
    margin-bottom 30px
    flex 1
    display flex
    flex-direction column

    &:hover &__description
        background-color $color-bondiblue
        transition all .25s ease-in-out

    &:hover &__link
        & .ui-circle-button
            &:before
                background-color #250b09
                transition background-color .25s ease-out

    &__title
        background-repeat no-repeat
        background-position 50% 50%
        background-size cover
        height 294px
        display flex
        justify-content center
        align-items center
        text-align center
        font-family 'FiraSans'
        font-size 26px
        color #ffffff
        line-height 30px
        font-weight bold

    &__description
        font-family 'Panton'
        font-size 16px
        color #090909
        padding 25px 65px 40px 25px
        flex 1

    &__link
        position absolute
        bottom 0
        right 0
        width 60px
        height 60px
