.ui-steps-vertical
    margin 0
    padding 0
    list-style none
    counter-reset section

    li
        position relative
        padding-left 39px
        line-height 26px

        &:before
            position absolute
            left 0
            top 0
            counter-increment section
            content counter(section)
            color red
            display block
            border-radius 50%
            border 3px solid red
            line-height 25px
            height 31px
            width 31px
            text-align center
            font-weight bold

        &:after
            content ''
            display block
            position absolute
            height calc(100% - 14px)
            border 2px solid #f00
            left 14px
            top 31px

        &:last-child:after
            display none

    li + li
        padding-top 20px

        &:before
            top 17px

        &:after
            top 48px
            height calc(100% - 31px)

.ui-step-check
    list-style none
    padding 20px 0 20px

    li
        background url('/images/step-check.png') no-repeat 0 50%
        padding 15px 0 15px 45px

.ui-step-check-bg
    list-style none
    padding 20px 0 20px
    background #f2f2f2
    font-weight bold
    font-family 'Panton'
    font-size 16px
    color #090909
    line-height 51px
    padding 0 10px
    height 100%
    margin 20px 0

    &__nobg
        background none

    li
        background url('/images/step-check2.png') no-repeat 0 50%
        padding 8px 0 8px 35px
        font-weight normal
        line-height 20px


.ui-faq
    list-style none
    font-family 'Panton'
    font-size 16px
    color #4f4f4f
    text-align left
    line-height 36px

    li
        a
            cursor pointer

            &.active
            &:hover
                color $color-darkcoral

        span
            display inline-block
            min-width 15px
            font-family sans-serif

.ui-step-light
    list-style none
    padding-top 20px

    li
        background url('/images/step-light.png') no-repeat 0 50%
        padding-left 15px

.ui-step-number
    padding 20px

    li
        padding-left 10px
