.ui-text-box
    color #fff
    font-family 'Panton'
    min-height 269px

    &--darkcoral
        background $color-darkcoral

    &--bondiblue
        background $color-bondiblue

    &__header
        height 98px
        display flex
        align-items center
        padding-left 36px
        border-bottom 1px solid #fff

    &__text
        font-size 16px
        color #ffffff
        text-align left
        line-height 30px
        padding 40px 20px 70px 36px
