.ui-text-block
    box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
    display flex
    flex-direction column
    min-height 100%

    &__title
        background $color-darkcoral
        color #fff
        font-family 'Panton'
        font-size 26px
        font-weight bold
        line-height 32px
        padding 23px 22px 25px

        &--black
            background #1e1e1e
            color #f9f9f9
            padding 0
            display flex
            align-items center
            justify-content center
            text-align center
            height 95px

        &--grey
            background #f9f9f9
            color #090909
            padding-bottom 5px

        &--small
            font-size 20px
            color #1c282a
            line-height 32px
            padding-top 19px
            margin-top 20px

    &__img
        width 100%
        max-height 425px
        overflow hidden
        margin 15px 0

    &__flex
        display flex

    &__content
    &__text
        padding 25px 22px 32px
        background #f9f9f9
        font-family 'Panton'
        font-size 16px
        color #090909
        line-height 20px
        flex 1

        a
            color $color-darkcoral
            text-decoration underline
            cursor pointer

    &__content
        padding 0

    &__text-italic
        font-family 'PantonRI'
        padding-bottom 20px

    &__text-big
        font-size 20px

    &__textbold
        font-weight bold
        text-align center
        padding 40px 0 20px 0

        span
            font-weight normal
