extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .ui-materials
        .grid.grid--container
            .row
                .col.col--xl-12
                    .ui-page__header.ui-heading.ui-heading--lvl2.ui-heading--black материалы
            .row
                .col.col--xl-3
                    .ui-material-block
                        .ui-material-block__title(style="background-image: url('/images/material-box/mdf-bg.png')") МДФ
                        .ui-material-block__description
                            p.
                                В качестве основы глухого заполнения мобильных перегородок используются панели шлифованного МДФ толщиной 6 мм, класс эмиссии — Е2.
                                #[br]#[br]Материал МДФ изготавливается из спрессованной древесной пыли, а сам термин произошёл от английского «middle density fiber board». Попутно заметим, что МДФ содержит меньше формальдегида, чем ДСП.
                .col.col--xl-3
                    .ui-material-block
                        .ui-material-block__title(style="background-image: url('/images/material-box/drywall-bg.png')") Гипсокартон
                        .ui-material-block__description
                            p.
                                В качестве основы глухого заполнения стационарных перегородок используются гипсокартонные листы (ГКЛ) с прямой кромкой толщиной 12,5 мм.
                                #[br]#[br]Они оклеены по лицевой поверхности декоративным покрытием.
                .col.col--xl-6
                    .ui-material-block
                        .ui-material-block__title(style="background-image: url('/images/material-box/vinyl-bg.png')") Виниловое покрытие
                        .ui-material-block__description
                            p.
                                Данный вариант покрытия обычно используется при зонировании помещений мобильными перегородками высотой 210 см и выше и стационарными перегородками. Таким образом, можно интегрировать мобильные и стационарные перегородки в единый комплекс по оптимизации офисного пространства.
                                #[br]#[br]Материал представляет собой твёрдую виниловую плёнку на бумажной основе в рулонах шириной 130 см.
                                #[br]#[br]В числе отличительных особенностей этого материала — стойкость к выгоранию и образованию плесени, хорошее сопротивление механическим воздействиям. Он легко протирается и моется.
            .row
                .col.col--xl-12
                    .ui-materials__headerlvl1 Авантаж
            .row
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/054.png')")
                            .ui-color-block__name 054
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/661.png')")
                            .ui-color-block__name 661
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/715.png')")
                            .ui-color-block__name 715
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/604.png')")
                            .ui-color-block__name 604
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/681.png')")
                            .ui-color-block__name 681
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/636.png')")
                            .ui-color-block__name 636
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/682.png')")
                            .ui-color-block__name 682
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/646.png')")
                            .ui-color-block__name 646
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/701.png')")
                            .ui-color-block__name 701
            .row
                .col.col--xl-12
                    .ui-materials__text * Возможен выбор дополнительных цветов из каталога.
            .row
                .col.col--xl-12
                    .ui-materials__headerlvl1 Тканевое покрытие (Съёмные сэндвич-панели)
            .row
                .col.col--xl-12
                    .ui-text-block
                        .ui-text-block__text Для обивки мобильных перегородок «ОКИ-ДОКИ» используется специальная декоративная ткань 100% полиэстер с высокой плотностью до 230г/м2 (про-во Тайвань), которая устойчива к внешним воздействиям и легко моется моющими средствами.#[br]#[br]Вместе с тканью используется поролон толщиной 2 мм. Таким образом образуется сэндвич-панель МДФ + поролон + ткань.
                            ul.ui-text-block__step #[br]Преимущества тканевого декоративного покрытия:
                                li #[br]
                                li Тканевое покрытие усиливает звукопоглощение, уменьшает шумовой фон — «гул» и «эхо».
                                li Панели заполнения глухой части с тканевым покрытием на перегородках «Оки-Доки»- съёмные, т. е. их можно монтировать-демонтировать без разбора конфигурации (уникальное предложение на рынке).
                                li Это огромный плюс на больших заказах, когда прокладываются много коммуникаций и часть кабелей можно провести не в кабель-канале, а в самом модуле. Это также даёт возможность облегчённого 
                                li доступа к кабелю, находящемуся внутри перегородок, в процессе эксплуатации рабочих мест.
                                li Использование ткани в качестве покрытия перегородок делает рабочие места более уютными и комфортными.
                                li Поролоновая подкладка даёт возможность навешивать на перегородки при помощи булавок различные записки и «памятки».
                                li При желании сменить цвет перегородок самым экономичным способом будет замена ткани обивки.
                                li Цена перегородок с тканевой обивкой ниже, чем цена за аналогичное изделие с виниловым покрытием.
            .row
                .col.col--xl-12
                    .ui-materials__headerlvl2 Базовые цвета тканевого заполнения
            .row
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T1.png')")
                            .ui-color-block__name T1
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T5.png')")
                            .ui-color-block__name T5
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T9.png')")
                            .ui-color-block__name T9
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T2.png')")
                            .ui-color-block__name T2
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T6.png')")
                            .ui-color-block__name T6
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T10.png')")
                            .ui-color-block__name T10
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T3.png')")
                            .ui-color-block__name T3
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T7.png')")
                            .ui-color-block__name T7
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T11.png')")
                            .ui-color-block__name T11
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T4.png')")
                            .ui-color-block__name T4
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T8.png')")
                            .ui-color-block__name T8
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/T12.png')")
                            .ui-color-block__name T12
            .row
                .col.col--xl-12
                    .ui-materials__text * Возможен подбор нестндартной ткани по вашей заявке
            .row
                .col.col--xl-12
                    .ui-materials__headerlvl1 Декорированный МДФ
            .row
                .col.col--xl-12
                    .ui-text-block
                        .ui-text-block__text 
                            p.
                                Материал — МДФ, декорированный экологически безвредными акриловыми красителями на водной основе.
                                #[br]#[br]Данное покрытие используется в мобильных перегородках и, по сути, является альтернативой виниловой плёнке и ламинированному ДСП.
                                #[br]#[br]Материал соответствуют современным стандартам по пожароопасным и санитарно-гигиеническим показателям и имеют соответствующие сертификаты.
                                #[br]#[br]Панели не боятся прямого попадания влаги, устойчивы к механическим повреждениям и применяются при производстве корпусной мебели, отделке поверхностей при ремонте и строительстве.
            .row
                .col.col--xl-12
                    .ui-materials__headerlvl2 Базовые цвета декорированного МДФ
            .row
                .col.col--xl-6
                    .ui-color-block.ui-color-block--line
                        .ui-color-block__content2
                            .ui-color-block__color(style="background-image: url('/images/color/1.png')")
                            .ui-color-block__name Бук
                        .ui-color-block__content2
                            .ui-color-block__color(style="background-image: url('/images/color/2.png')")
                            .ui-color-block__name Серый
            .row
                .col.col--xl-12
                    .ui-materials__text * Возможен подбор нестндартной ткани по вашей заявке
            .row
                .col.col--xl-12
                    .ui-materials__headerlvl1 Ламинированный ДСП
            .row
                .col.col--xl-12
                    .ui-text-block
                        .ui-text-block__text 
                            p.
                                ДСП с меламиновым покрытием отличают такие качественные характеристики как износостойкость, ударопрочность, устойчивость к царапанью.
                                #[br]#[br]Область применения — декоративная внутренняя отделка, производство мебели
                                #[br]#[br]Разнообразие цветов и текстур позволяет дать волю фантазии при оформления офисных, рабочих и торговых помещений, находя для каждого из них современное решение.
            .row
                .col.col--xl-12
                    .ui-materials__headerlvl2 Базовые цвета ЛДСП
            .row
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/H1582.png')")
                            .ui-color-block__name2 Бук #[br]Эльмау #[br]Н1582
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/H1709.png')")
                            .ui-color-block__name2 Орех 
                                span французский 
                                |#{' '}Н1709
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/U510.png')")
                            .ui-color-block__name2 Небесно-голубой #[br]U510
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/H1706.png')")
                            .ui-color-block__name2 Вишня #[br] Н1706
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/U108.png')")
                            .ui-color-block__name2 Ваниль #[br] U108
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/F509.png')")
                            .ui-color-block__name2 Алюминий #[br] F509
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/H1521.png')")
                            .ui-color-block__name2 Клён медовый #[br] Н1521
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/U708.png')")
                            .ui-color-block__name2 Серый #[br] U708
                .col.col--xl-3
                    .ui-color-block
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/H1509.png')")
                            .ui-color-block__name2 Махагон Сапели #[br] Н1509
                        .ui-color-block__content
                            .ui-color-block__color(style="background-image: url('/images/color/U212.png')")
                            .ui-color-block__name2 Кремовый #[br] U212          
            .row.ui-materials__line
                .col.col--xl-12
                    .ui-text-block
                        .ui-text-block__text 
                            .ui-text-block__text-average Прозрачное наполнение
                            |#{' '} #[br] Прозрачная часть, как и в мобильных перегородках, так и в стационарных может быть одинарной, двойной и двойной с межрамными жалюзи. Строго говоря, может использоваться любой прозрачный, полу- и непрозрачный материал толщиной — 4–6 мм.

    .ui-price-calculate.grid.grid--container
        .row
            .col.col--xl-12
                .grid
                    form.row.row--no-gutters.ui-form.ui-form-calcalate
                        .col.col--xl-3.ui-form-calcalate__header
                            .ui-form-calcalate__title Получить консультацию
                            .ui-form-calcalate__description Оставьте заявку на консультацию и мы свяжемся с вами в ближайшее время
                        .col.col--xl-9
                            .ui-form-calcalate__content
                                .grid
                                    .row
                                        .col.col--xl-4
                                            input.ui-input.ui-input--block(type="text", placeholder="Контактное лицо")
                                        .col.col--xl-4
                                            input.ui-input.ui-input--block(type="text", placeholder="Телефон")
                                        .col.col--xl-4
                                            a.ui-button.ui-button--size-lg.ui-button--block.ui-button--default Отправить
                                .ui-form-calcalate__about 
                                    .ui-form-calcalate__icon !
                                    .ui-form-calcalate__text Итоговая цена зависит от : #[br] объем, материалов, количества поворотных элементов
