extends ../../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../../'

block content
    .ui-projects-history
        .grid.grid--container
            .row
                .col.col--xl-12
                    .ui-page__header.ui-heading.ui-heading--lvl2.ui-heading--black ИСТОРИЯ ЗАКАЗА - ЗАО КОММЕРЧЕСКИЙ БАНК «РОСТОВСКИЙ УНИВЕРСАЛЬНЫЙ»
            .row.ui-projects-history__line
                .col.col--xl-4.col--md-6
                    .ui-projects-history-cart
                        .ui-projects-history-cart__title Заказчик: ЗАО Коммерческий банк «Ростовский Универсальный»
                        .ui-projects-history-cart__text Адрес объекта:
                            span &nbsp г. Москва, ул. Научный проезд, д. 17#[br]
                        .ui-projects-history-cart__text Проектирование:
                            span &nbsp Оки-Доки
                        .ui-projects-history-cart__text Офисные перегородки:
                            span &nbsp Стационарные перегородки
                        .ui-projects-history-cart__text Общая площадь офиса:
                            span &nbsp 180 кв.м
                        .ui-projects-history-cart__textb Год реализации проекта:
                            span &nbsp 2014 г.
                        .ui-projects-history-cart__text Срок реализации:
                            span &nbsp 2 недели
                    .ui-projects-history__text
                        p Компания «Оки-Доки» в сжатые сроки создала новый интерьер для офиса ЗАО Коммерческий банк «Ростовский Универсальный». Для формирования пространства были применены Стаионарные перегородки - 127 м2, а также 7 дверей.
                .col.col--xl-8.col--md-6
                    .ui-projects-history__img(style="background-image: url('/images/projects/detail/1.png')")
            .row.ui-projects-history__line
                .col.col--xl-4.col--md-6
                    .ui-projects-history__img(style="background-image: url('/images/projects/detail/2.png')")
                .col.col--xl-4.col--md-6
                    .ui-projects-history__img(style="background-image: url('/images/projects/detail/2.png')")
                .col.col--xl-4.col--md-12
                    .ui-projects-history__text.ui-projects-history__description 
                        p. 
                            Классическая офисная перегородка на алюминиевом профиле безукоризненно решила планировочные задачи. 
                            #[br]#[br]Окрас профиля был в стандартном цвете 9006 RAL, а глухое заполнение секций осуществлено с помощью ЛДСП Эггер Дуб Торонто шоколадный.
                            #[br]#[br]Компания «Оки-Доки» создала новый рациональный интерьер, отражающий потребности современного офисного пространства, где органичное сочетание грамотного дизайна, высококачественной продукции и функциональности.
