extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    .ui-advantages
        .grid.grid--container
            .row
                .col.col--xl-12
                    .ui-page__header.ui-heading.ui-heading--lvl2.ui-heading--black 3 ГОДА ГАРАНТИИ
            .row.row--xl-center
                .col.col--xl-8
                    .grid
                        .row
                            .col.col--xl-6
                                .ui-text-block
                                    .ui-text-block__text 
                                        .ui-text-block__img
                                            img(src="/images/advantages/3.png", width="100%")
                                        .ui-text-block__text-big #[br]От проектирования до монтажа компания «ОКИ-ДОКИ» строго контролирует каждый этап технологического процесса изготовления предлагаемой продукции.

                            .col.col--xl-6
                                .ui-text-block
                                    .ui-text-block__text 
                                        p Неизменный контроль качества услуг, использование комплектующих и материалов проверенных временем ведущих и известных производителей, высокий профессионализм команды и современное оборудование позволяет нам гарантировать длительный срок службы нашей продукции, а именно гарантия составляет 3 года.
                                            span #[br]#[br]Кстати, в течение указанного срока перегородки можно демонтировать и монтировать на новом месте без потери их как, эксплуатационных качеств, так и внешнего вида
                                            |#{' '}(при условии соблюдений правил проведения данных работ).
                                            span #[br]#[br]Гарантийное обслуживание (бесплатное для заказчика) включает устранение скрытых дефектов и недостатков конструкции в течение указанного срока гарантии – 3 года.
                                            | #[br]#[br]Заказчикам не рекомендуется самостоятельно заменять комплектующие, изменять конструкцию, а также нарушать условия эксплуатации, поскольку этом случае возможен отказ в гарантийном обслуживании. 
                                            | #[br]#[br]Также повреждения и порча конструкций вследствие внешнего воздействия на нее не является правом на гарантийное обслуживание.
                                            
                .col.col--xl-4
                    .grid
                        .row
                            .col.col--xl-12
                                .ui-form.ui-form-akcia.js-form-akcia
                                    .ui-form-akcia__title Узнайте цену и сроки
                                    input.ui-input(type="text", placeholder="Телефон")
                                    input.ui-input(type="text", placeholder="Ваше имя")
                                    input.ui-input(type="text", placeholder="E-mail")
                                    input.ui-input(type="text", placeholder="Название организации")
                                    textarea.ui-textarea(type="text", placeholder="Ваше сообщение")
                                    .ui-form-akcia__line
                                        a.ui-button.ui-button--size-xs Прикрепить файл
                                        label (не обязательно)
                                    a.ui-button.ui-button--size-lg.ui-button--default Расчитать стоимость
                                    p Вы можете прикрепить любую информацию, которая может помочь нам при расчете
                                
                        
