extends _layouts/base

block content
    .ui-configuration
        .grid.grid--container
            .row
                .col.col--xl-3
                    .ui-configuration__header.ui-heading.ui-heading--white.ui-heading--lvl2 Конфигурации перегородок
                    .ui-slider-nav
                        a.ui-slider-nav__arrow.js-configuration-carousel-prew
                            img(src="/images/icons/arrow-left.svg", alt="", height="47", width="16")
                        span.ui-slider-nav__number.js-configuration-carousel-number 1
                        a.ui-slider-nav__arrow.js-configuration-carousel-next
                            img(src="/images/icons/arrow-rigth.svg", alt="", height="47", width="16")
                .col.col--xl-9.owl-carousel.owl-theme.js-configuration-carousel
                    .ui-configuration__content
                        .ui-configuration__photo(style="background-image: url('/images/сonfigurations/1.png')")
                        .ui-configuration__title Конфигурация офисных#[br] перегородок №М2
                        .ui-configuration__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                    .ui-configuration__content
                        .ui-configuration__photo(style="background-image: url('/images/сonfigurations/1.png')")
                        .ui-configuration__title Конфигурация офисных#[br] перегородок №М2
                        .ui-configuration__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                    .ui-configuration__content
                        .ui-configuration__photo(style="background-image: url('/images/сonfigurations/1.png')")
                        .ui-configuration__title Конфигурация офисных#[br] перегородок №М2
                        .ui-configuration__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                    .ui-configuration__content
                        .ui-configuration__photo(style="background-image: url('/images/сonfigurations/1.png')")
                        .ui-configuration__title Конфигурация офисных#[br] перегородок №М2
                        .ui-configuration__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
    .ui-project-home
        .grid.grid--container
            .row.row--xl-center.ui-project-home__header
                .col.col--xl-11
                    .ui-heading.ui-heading--white.ui-heading--lvl2 Истории проектов
                .col.col--xl-1
                    .ui-slider-nav
                        a.ui-slider-nav__arrow.js-project-carousel-prew
                            img(src="/images/icons/arrow-left.svg", alt="", height="47", width="16")
                        span.ui-slider-nav__number.js-project-carousel-number 1
                        a.ui-slider-nav__arrow.js-project-carousel-next
                            img(src="/images/icons/arrow-rigth.svg", alt="", height="47", width="16")
        .grid.grid--container.owl-carousel.owl-theme.js-project-carousel
            .row
                .col.col--xl-3
                    .ui-project-home__content
                        .ui-project-home__title Монтаж офисных перегородок для ООО «Фиас Констракшн»
                        .ui-project-home__text Часто бывает, что заказчику необходимо в сжатые сроки разделить отдельно рабочие зоны, при этом выдержать деловой стиль и не стеснять пространство и без того не большого помещения.
                        .ui-project-home__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                .col.col--xl-6.col--xl-flex
                    .ui-project-home__photo(style="background-image: url('/images/projects/1.jpg')")
                .col.col--xl-3
                    .ui-project-home__photo--small(style="background-image: url('/images/projects/1.jpg')")
                    .ui-project-home__photo--small(style="background-image: url('/images/projects/1.jpg')")

            .row
                .col.col--xl-3
                    .ui-project-home__content
                        .ui-project-home__title Монтаж офисных перегородок для ООО «Фиас Констракшн»
                        .ui-project-home__text Часто бывает, что заказчику необходимо в сжатые сроки разделить отдельно рабочие зоны, при этом выдержать деловой стиль и не стеснять пространство и без того не большого помещения.
                        .ui-project-home__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                .col.col--xl-6.col--xl-flex
                    .ui-project-home__photo(style="background-image: url('/images/projects/1.jpg')")
                .col.col--xl-3
                    .ui-project-home__photo--small(style="background-image: url('/images/projects/1.jpg')")
                    .ui-project-home__photo--small(style="background-image: url('/images/projects/1.jpg')")
            .row
                .col.col--xl-3
                    .ui-project-home__content
                        .ui-project-home__title Монтаж офисных перегородок для ООО «Фиас Констракшн»
                        .ui-project-home__text Часто бывает, что заказчику необходимо в сжатые сроки разделить отдельно рабочие зоны, при этом выдержать деловой стиль и не стеснять пространство и без того не большого помещения.
                        .ui-project-home__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                .col.col--xl-6.col--xl-flex
                    .ui-project-home__photo(style="background-image: url('/images/projects/1.jpg')")
                .col.col--xl-3
                    .ui-project-home__photo--small(style="background-image: url('/images/projects/1.jpg')")
                    .ui-project-home__photo--small(style="background-image: url('/images/projects/1.jpg')")
    .ui-rewiew
        .grid.grid--container
            .row
                .col.col--xl-12
                    .ui-heading.ui-heading--lvl2.ui-rewiew__header Офисные перегородки
            .row
                .col.col--xl-6
                    .ui-text.ui-text--bold Офисная перегородка - конструкция, главное преимущество которой – универсальность.
                    .ui-text Компания «Оки-Доки» предлагает огромное количество вариантов изделий, которые удачно впишутся в помещения абсолютно любого коммерческого объекта.
                .col.col--xl-6
                    .ui-text.ui-text--italic Эффективность конструкций определяется их многофункциональностью: они позволяют не только нужным образом разбивать помещения на зоны, но еще и придавать им нужный стиль. Именно поэтому перегородки можно рассматривать, как декоративный элемент интерьера.
            .row
                .col.col--xl-6
                    .ui-text-box.ui-text-box--darkcoral
                        .ui-heading.ui-heading--lvl3.ui-text-box__header Производство перегородок
                        .ui-text-box__text У нас вы можете заказать офисную перегородку по всей России, в том числе в Москве.#[br] Для изготовления таких конструкций используются разные материалы, каждый из которых имеет преимущества.
                .col.col--xl-6
                    .ui-text-box.ui-text-box--bondiblue 
                        .ui-heading.ui-heading--lvl3.ui-text-box__header Офисные перегородки, #[br]как предмет интерьера офиса
                        .ui-text-box__text Ассортимент перегородок для офиса поражает разнообразием не только цветовых решений, но и различными вариантами декора, формы и конфигураций. В таких условиях заказать наиболее оптимальную и подходящую под конкретное помещение модель очень просто.
            .row
                .col.col--xl-12
                    .ui-rewiew__text.ui-text.ui-text--italic Кроме того, поверхность офисной перегородки может быть декорирована текстилем или виниловым покрытием. Вы можете заказать как типовое, так и дизайнерское оформление конструкции. Специалисты нашей компании благодаря своему большому опыту в силах реализовать любой проект.
            .row
                .col.col--xl-3
                    .ui-material-box(style="background-image: url('/images/material-box/drywall-bg.png')")
                        .ui-material-box__title Гипсокартон
                        .ui-material-box__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                .col.col--xl-3
                    .ui-material-box(style="background-image: url('/images/material-box/pvc-bg.png')")
                        .ui-material-box__title ПВХ
                        .ui-material-box__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                .col.col--xl-3
                    .ui-material-box(style="background-image: url('/images/material-box/glass-bg.png')")
                        .ui-material-box__title Стекло
                        .ui-material-box__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                .col.col--xl-3
                    .ui-material-box(style="background-image: url('/images/material-box/mdf-bg.png')")
                        .ui-material-box__title МДФ
                        .ui-material-box__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
            .row
                .col.col--xl-12
                    .ui-mounting
                        .ui-mounting__title Монтаж перегородок
                        .ui-mounting__text Производство перегородок для офисных помещений не единственное направление деятельности компании«Оки-Доки», мы занимаемся и установкой конструкций. Почему стоит воспользоваться услугами именно нашей компании?
            .row.row--xl-center
                .col.col--xl-5
                    .ui-our-advantages-title Ответом на этот#[br] вопрос будут наши#[br] преимущества:
                .col.col--xl-7
                    .ui-our-advantages-block
                        ul.ui-our-advantages-block__list
                            li •	&nbsp &nbsp Применение высокотехнологичного оборудования при производстве перегородок;
                            li •	&nbsp &nbsp Использование материалов высокого качества;
                            li •	&nbsp &nbsp Изготовление лучших комплектующих для перегородок;
                            li •	&nbsp &nbsp Профессиональный монтаж специалистами компании;
                            li •	&nbsp &nbsp Гарантия качества изделия и установки;
                            li •	&nbsp &nbsp Производство офисных перегородокв «Оки-Доки» по дизайнерским проектам.
            .row.row--xl-center
                .col.col--xl-2
                    .ui-home-price-box.ui-home-price-box__icon 
                        img(src="/images/icons/money-bag.png")
                .col.col--xl-10
                    .ui-home-price-box
                        .ui-home-price-box__title Стоимость офисных перегородок
                        .ui-home-price-box__text Доступная цена на представленные товары – хороший бонус от компании«Оки-Доки». Низкая стоимость и высокое качество – оптимальные условия для того, чтобы заказать и купить офисную перегородку, к тому же широкий ассортимент дает свободу выбора. Стоимость зависит от нескольких факторов: материала, комплектующих, конфигурации и сложности монтажа конструкции.
    .ui-customer-reviews
        .grid.grid--container
            .row
                .col.col--xl-4
                    .ui-customer-reviews__header.ui-heading.ui-heading--white.ui-heading--lvl2 Отзывы клиентов
                    .ui-slider-nav.ui-slider-nav__no-number
                        a.ui-slider-nav__arrow.js-customer-reviews-carousel-prew
                            img(src="/images/icons/arrow-left.svg", alt="", height="47", width="16")
                        a.ui-slider-nav__arrow.js-customer-reviews-carousel-next
                            img(src="/images/icons/arrow-rigth.svg", alt="", height="47", width="16")
                .col.col--xl-8.owl-carousel.owl-theme.js-customer-reviews-carousel
                    .ui-customer-reviews__content
                        .ui-customer-reviews__photo(style="background-image: url('/images/customer-reviews/asteros-logo.png')")
                        .ui-customer-reviews__title ООО «Астерос #[br]сервис»
                        .ui-customer-reviews__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                    .ui-customer-reviews__content
                        .ui-customer-reviews__photo(style="background-image: url('/images/customer-reviews/coral-logo.png')")
                        .ui-customer-reviews__title ООО «Корал#[br] тревел»
                        .ui-customer-reviews__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                    .ui-customer-reviews__content
                        .ui-customer-reviews__photo(style="background-image: url('/images/customer-reviews/m-logistic-logo.png')")
                        .ui-customer-reviews__title ООО «М-Логистик#[br] Компани»
                        .ui-customer-reviews__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                    .ui-customer-reviews__content
                        .ui-customer-reviews__photo(style="background-image: url('/images/customer-reviews/swsoft-logo.png')")
                        .ui-customer-reviews__title ООО «СВсофт #[br] МФТИ»
                        .ui-customer-reviews__link
                            a.ui-circle-button.ui-circle-button--red.ui-circle-button--size-md(href="#")
                                i +
                                
    .ui-companies
        .grid.grid--container
            .row.row--xl-center
                .col.col--xl-12
                    .ui-companies__header Нас выбирают
            .row.row--xl-center.ui-companies-list
                .col.col--xl-4.col--no-gutters 
                    .ui-companies__title С нами работает 
                        span более 5000 
                        |#{' '} компаний
                .col.col--xl-2
                    .ui-companies__element.ui-companies__element-first
                        img(src="/images/companies/resch-logo.png")
                .col.col--xl-2
                    .ui-companies__element
                        img(src="/images/companies/rgd-logo.png")
                .col.col--xl-2
                    .ui-companies__element
                        img(src="/images/companies/nord-strean-logo.png")
                .col.col--xl-2
                    .ui-companies__element
                        img(src="/images/companies/viscom.png")
