$color-default = #000
$color-red = #f00
$color-white = #fdfdfd
$color-trolleygrey = #7d7d7d
$color-isabelline = #f3f2e9
$color-darkcoral = #d65045
$color-smokyblack = #130504
$color-platinum = #e6e6e6
$color-snow = #fbfcfc
$color-bondiblue = #009ba4
$color-pagination = #f6f6f6
$color-dark = #212121
$color-medium = #313131
$color-ashgrey = #b8b8b8
$color-whitesmoke = #f6f6f6
$color-darkjunglegreen = #282828
$color-redbrown = #a73328
$color-isabelline = #ebebeb

$font-rubik = 'Rubik', sans-serif;

$breakpoints = {
  'xs' :  0,
  'sm' : 544px,
  'md' : 768px,
  'lg' : 992px,
  'xl' : 1200px
}
$columns = 12
