// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/animate.css/animate.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.css';

// Import Modules
@import '../_modules/link/link';
@import '_variable';
@import 'modules/fonts';
@import 'modules/button';
@import 'modules/steps-vertical';
@import 'modules/form';
@import 'modules/heading';
@import 'modules/text';
@import 'modules/text-box';
@import 'modules/material-box';

@import 'grid/mixins/helpers'
@import 'grid/mixins/grid-framework'
@import 'grid/mixins/bem'

// Components
@import 'grid/components/col'
@import 'grid/components/grid'
@import 'grid/components/row'
@import 'grid/components/text'

init($breakpoints, $columns)
// Box sizing partial styles
// Apply a natural box layout model to all elements

*,
*:before,
*:after
    box-sizing border-box
    outline 1px dashed green
    margin 0
    padding 0

.ui-page
  display flex
  flex-direction column

.ui-header
    display flex
    flex-direction column

.ui-header__content
    background-color $color-white
    padding 20px 0

.ui-header__info
    justify-content space-between
    text-transform uppercase
    padding-right 300px

.ui-header__menu
    background-color $color-isabelline

.ui-logo
    cursor pointer

.ui-slogan
    font-family 'Scada'
    font-size 12px
    line-height 16px
    color $color-trolleygrey

.ui-address
    font-family 'Scada'
    font-size 12px
    line-height 16px
    color $color-trolleygrey

    &__header
        display flex
        align-items center

    img
        padding-right 13px

.ui-regim
    font-family 'Scada'
    font-size 12px
    line-height 16px
    color $color-trolleygrey

.ui-phone
    font-family 'Panton'
    font-size 20px
    line-height 32px
    text-transform uppercase

    &__footer
        font-family 'Scada'
        color #fff

.ui-menu
    font-family 'Panton'
    font-size 16px
    line-height 32px
    padding-right 40px
    justify-content space-between

    a
        color #050505
        text-decoration none
        display block
        padding 9px 0 5px
        border-bottom 3px solid rgba(255,255,255,0)

    &__link
        &:hover
            color #439fac
            border-bottom 3px solid #439fac
            cursor pointer

.ui-footer-menu
    font-family 'Panton'
    font-size 16px
    line-height 32px
    justify-content space-between

    a
        color $color-trolleygrey
        text-decoration none

    &__link
        &:hover
            cursor pointer

.ui-footer
    background-color $color-dark
    color $color-trolleygrey
    padding 30px 0 20px 0

.ui-footer-copy
    border-top 1px solid $color-trolleygrey
    margin-top 20px
    padding-top 20px
    text-align center
    font-size 12px

.ui-configuration
    background #fff url('/images/baffle-bg.png') no-repeat 50% 0
    padding 40px 0

    &__header
        padding-bottom 25px

    &__content
        display flex
        flex-direction column

    &__photo
        background-repeat no-repeat
        background-size cover
        background-position 50% 50%
        height 234px
        width 100%

    &__link
        position absolute
        bottom 0
        right 0
        width 60px
        height 60px

    &__title
        background $color-platinum
        font-family 'Panton'
        font-size 20px
        font-weight bold
        color #1b1b1b
        line-height 27px
        padding 19px 60px 19px 19px

.ui-project-home
    background #fff url('/images/project-home-bg.jpg') no-repeat 50% 0
    padding-bottom 30px

    &__header
        padding 40px 0 25px

    &__content
        height 387px
        background #009ba4
        color #fff
        padding 30px 20px 60px 20px
        position relative

    &__title
        font-size 26px
        line-height 36px
        font-family 'Panton'
        font-weight bold

    &__text
        font-family 'Panton'
        font-size 16px
        line-height 26px
        margin-top 35px

    &__link
        position absolute
        bottom 0
        right 0
        width 60px
        height 60px

    &__photo
        background-repeat no-repeat
        background-size cover
        background-position 50% 50%
        height 387px
        width 100%

        &--small
            height 185px

        &--small + &--small
            margin-top 17px

.ui-slider-nav
    display flex
    max-width 100px
    justify-content space-between
    align-items center

    &__arrow
        cursor pointer

    &__number
        color $color-snow
        line-height 40px
        font-size 32px
        font-family 'Rubik'
        font-weight 500

    &__no-number
        max-width 70px

.ui-rewiew
    background linear-gradient(to bottom, #ececec 322px, #fff 322px, #fff 100%)
    color #313131

    &__header
        padding 40px 0 25px

    &__text
        padding 50px 0 44px

.ui-customer-reviews
    background #fff url('/images/customer-reviews-bg.png') no-repeat 50% 0
    padding 40px 0

    &__content
      display flex
      flex-direction column
      position relative

    &__header
        padding-bottom 25px

    &__photo
        background #fff
        background-repeat no-repeat
        background-position 50% 50%
        height 100px

    &__title
        font-size 20px
        line-height 26px
        font-family 'Panton'
        font-weight bold
        background #e8e8e8
        padding 19px 15px 35px

    &__link
        position absolute
        bottom 0
        right 0
        width 60px
        height 60px

.ui-companies
    font-family 'Rubik'
    font-size 26px
    color #393939
    padding-bottom 30px

    span
        font-weight bold

    &__header
        font-family 'Panton'
        font-size 40px
        line-height 70px
        color $color-darkcoral

    &__title
        line-height 50px
        padding-left 15px

    &__element
        display flex
        justify-content center
        align-items center
        background url('/images/clients-line-bg.png') no-repeat
        height 121px
        padding-left 10px

    &__element-first
        background none

.ui-mounting
    font-family 'Panton'
    line-height 30px
    color $color-medium
    padding-bottom 50px

    &__title
        font-size 30px
        padding-bottom 45px

    &__text
        font-size 20px

.ui-our-advantages-title
    font-family 'Panton'
    font-size 50px
    color $color-medium
    line-height 70px
    display flex
    justify-content center

.ui-our-advantages-block
    border 3px solid $color-platinum
    width 100%
    padding 40px 20px 54px 25px
    font-family 'Panton'
    font-size 20px
    color $color-medium
    line-height 45px

    &__list
        list-style none

.ui-home-price-box
    background $color-platinum
    font-family 'Panton'
    color $color-medium
    line-height 30px
    padding 22px
    min-height 192px
    margin 47px 0 57px

    &__icon
        display flex
        align-items center
        justify-content center

    &__title
        font-size 30px
        font-weight bold
        padding-bottom 25px

    &__text
        font-size 16px
