// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/animate.css/animate.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.css';

// Import Modules
@import '../_modules/link/link';
@import '_variable';
@import 'modules/fonts';
@import 'modules/button';
@import 'modules/steps-vertical';
@import 'modules/form';
@import 'modules/heading';
@import 'modules/text';
@import 'modules/text-box';
@import 'modules/material-box';
@import 'modules/product-cart';
@import 'modules/configurations-cart';
@import 'modules/gallery-cart';
@import 'modules/projects-cart';
@import 'modules/text-block';

@import 'grid/mixins/helpers'
@import 'grid/mixins/grid-framework'
@import 'grid/mixins/bem'

// Components
@import 'grid/components/col'
@import 'grid/components/grid'
@import 'grid/components/row'
@import 'grid/components/text'

init($breakpoints, $columns)
// Box sizing partial styles
// Apply a natural box layout model to all elements

*,
*:before,
*:after
    box-sizing border-box
    outline 1px dashed green
    margin 0
    padding 0

.ui-page
  display flex
  flex-direction column

.ui-header
    display flex
    flex-direction column

.ui-header__content
    background-color $color-white
    padding 20px 0

.ui-header__info
    justify-content space-between
    text-transform uppercase
    padding-right 300px

.ui-header__menu
    background-color $color-isabelline

.ui-logo
    cursor pointer

.ui-slogan
    font-family 'Scada'
    font-size 12px
    line-height 16px
    color $color-trolleygrey

.ui-address
    font-family 'Scada'
    font-size 12px
    line-height 16px
    color $color-trolleygrey

    &__header
        display flex
        align-items center

    img
        padding-right 13px

.ui-regim
    font-family 'Scada'
    font-size 12px
    line-height 16px
    color $color-trolleygrey

.ui-phone
    font-family 'Panton'
    font-size 20px
    line-height 32px
    text-transform uppercase

    &__footer
        font-family 'Scada'
        color #fff

.ui-menu
    font-family 'Panton'
    font-size 16px
    line-height 32px
    padding-right 40px
    justify-content space-between

    a
        color #050505
        text-decoration none
        display block
        padding 9px 0 5px
        border-bottom 3px solid rgba(255,255,255,0)

    &__link
        &:hover
            color #439fac
            border-bottom 3px solid #439fac
            cursor pointer

.ui-footer-menu
    font-family 'Panton'
    font-size 16px
    line-height 32px
    justify-content space-between

    a
        color $color-trolleygrey
        text-decoration none

    &__link
        &:hover
            cursor pointer

.ui-footer
    background-color $color-dark
    color $color-trolleygrey
    padding 30px 0 20px 0

.ui-footer-copy
    border-top 1px solid $color-trolleygrey
    margin-top 20px
    padding-top 20px
    text-align center
    font-size 12px

.ui-configuration
    background #fff url('/images/baffle-bg.png') no-repeat 50% 0
    padding 40px 0

    &__header
        padding-bottom 25px

    &__content
        display flex
        flex-direction column

    &__photo
        background-repeat no-repeat
        background-size cover
        background-position 50% 50%
        height 234px
        width 100%

    &__link
        position absolute
        bottom 0
        right 0
        width 60px
        height 60px

    &__title
        background $color-platinum
        font-family 'Panton'
        font-size 20px
        font-weight bold
        color #1b1b1b
        line-height 27px
        padding 19px 60px 19px 19px

.ui-project-home
    background #fff url('/images/project-home-bg.jpg') no-repeat 50% 0
    padding-bottom 30px

    &__header
        padding 40px 0 25px

    &__content
        height 387px
        background #009ba4
        color #fff
        padding 30px 20px 60px 20px
        position relative

    &__title
        font-size 26px
        line-height 36px
        font-family 'Panton'
        font-weight bold

    &__text
        font-family 'Panton'
        font-size 16px
        line-height 26px
        margin-top 35px

    &__link
        position absolute
        bottom 0
        right 0
        width 60px
        height 60px

    &__photo
        background-repeat no-repeat
        background-size cover
        background-position 50% 50%
        height 387px
        width 100%

        &--small
            height 185px

        &--small + &--small
            margin-top 17px

.ui-slider-nav
    display flex
    max-width 100px
    justify-content space-between
    align-items center

    &__arrow
        cursor pointer

    &__number
        color $color-snow
        line-height 40px
        font-size 32px
        font-family 'Rubik'
        font-weight 500

    &__no-number
        max-width 70px

.ui-rewiew
    background linear-gradient(to bottom, #ececec 322px, #fff 322px, #fff 100%)
    color #313131

    &__header
        padding 40px 0 25px

    &__text
        padding 50px 0 44px

.ui-customer-reviews
    background #fff url('/images/customer-reviews-bg.png') no-repeat 50% 0
    padding 40px 0

    &__content
      display flex
      flex-direction column
      position relative

    &__header
        padding-bottom 25px

    &__photo
        background #fff
        background-repeat no-repeat
        background-position 50% 50%
        height 100px

    &__title
        font-size 20px
        line-height 26px
        font-family 'Panton'
        font-weight bold
        background #e8e8e8
        padding 19px 15px 35px

    &__link
        position absolute
        bottom 0
        right 0
        width 60px
        height 60px

.ui-companies
    font-family 'Rubik'
    font-size 26px
    color #393939
    padding-bottom 30px

    span
        font-weight bold

    &__header
        font-family 'Panton'
        font-size 40px
        line-height 70px
        color $color-darkcoral

    &__title
        line-height 50px
        padding-left 15px

    &__element
        display flex
        justify-content center
        align-items center
        background url('/images/clients-line-bg.png') no-repeat
        height 121px
        padding-left 10px

    &__element-first
        background none

.ui-mounting
    font-family 'Panton'
    line-height 30px
    color $color-medium
    padding-bottom 50px

    &__title
        font-size 30px
        padding-bottom 45px

    &__text
        font-size 20px

.ui-our-advantages-title
    font-family 'Panton'
    font-size 50px
    color $color-medium
    line-height 70px
    display flex
    justify-content center

.ui-our-advantages-block
    border 3px solid $color-platinum
    width 100%
    padding 40px 20px 54px 25px
    font-family 'Panton'
    font-size 20px
    color $color-medium
    line-height 45px

    &__list
        list-style none

.ui-home-price-box
    background $color-platinum
    font-family 'Panton'
    color $color-medium
    line-height 30px
    padding 22px
    min-height 192px
    margin 47px 0 57px

    &__icon
        display flex
        align-items center
        justify-content center

    &__title
        font-size 30px
        font-weight bold
        padding-bottom 25px

    &__text
        font-size 16px

.ui-order
    padding 50px 0 50px

    ul
        list-style none

    &__title
        font-family 'Rubik'
        font-size 43px
        line-height 60px
        color $color-medium

    &__step
        font-family 'Rubik'
        font-size 20px
        color $color-medium
        line-height 30px
        display flex
        align-items center
        justify-content space-between
        width 100%

.ui-step
    background $color-platinum
    flex 1
    padding-left 77px
    margin-left -77px
    padding-right 54px
    overflow hidden

    &:first-child
        padding-right 54px
        margin-left 0
        padding-left 0

    &:last-child
        padding-right 0

    &__title
        padding-left 10px

    &__first
        display flex
        align-items center
        color #fff
        background $color-darkcoral
        height 92px
        padding 16px 12px
        position relative
        margin 0

        &:after
            border 47px solid transparent
            content ''
            border-left 40px solid $color-darkcoral
            width 0
            height 0
            position absolute
            display block
            right -86px
            top 0
            background #fff

    &__center
        display flex
        align-items center
        height 92px
        padding 16px 12px
        position relative

        &:before
            content ''
            border-top 47px solid $color-platinum
            border-bottom 47px solid $color-platinum
            border-left 40px solid transparent
            left -40px
            top 0
            width 0
            height 0
            position absolute
            display block

        &:after
            border 47px solid transparent
            content ''
            border-left 40px solid $color-platinum
            width 0
            height 0
            position absolute
            display block
            right -86px
            top 0
            background #fff

    &__last
        display flex
        align-items center
        height 92px
        padding 16px 12px
        position relative

        &:before
            content ''
            border-top 47px solid $color-platinum
            border-bottom 47px solid $color-platinum
            border-left 40px solid transparent
            left -40px
            top 0
            width 0
            height 0
            position absolute
            display block

.ui-advantage
    display block
    margin-top 60px

    & .col
        transition width .2s ease
        cursor pointer

        &:hover
            width 50%
            flex none

            & ^[0]__content
                padding 17px 79px 17px 42px
                width 100%
                height auto
                visibility visible

            & ^[0]__item
                background #009ba4
                color #fff

            & ^[0]__header
                border-color #fff

            & ^[0]__icon
                border-color #fff

                svg
                    color #fff
                    fill #fff

            & ^[0]__text
                display block
                height 100%
                visibility visible

    &__item
        display flex
        position relative
        background-color $color-platinum
        font-family 'Panton'
        color $color-darkcoral
        padding 10px 0
        align-items center
        justify-content center

    &__header
        font-size 26px
        line-height 22px
        display flex
        flex-direction column
        align-items center
        padding 7px 40px 7px 42px
        border-right 2px solid transparent

    &__icon
        height 78px
        width 78px
        border 2px solid $color-darkcoral
        border-radius 78px
        display flex
        align-items center
        justify-content center

        svg
            color $color-darkcoral
            fill $color-darkcoral

    &__link
        width 79px
        height 79px
        position absolute
        bottom 0
        right 0

    &__content
        padding 0
        width 0
        overflow hidden
        visibility hidden

    &__text
        display none
        overflow hidden
        visibility hidden
        height 0
        font-size 18px

    &__title
        padding-top 15px

.ui-our-production
    padding 60px 15px
    margin 0 auto

    &__title
        font-family 'Panton'
        font-size 60px
        color $color-medium
        line-height 70px
        padding-bottom 30px

    &__product
        margin 45px 0

    &__variation
        flex 1
        position relative
        margin 45px 0
        background-size cover

    &__navigation
        position absolute
        bottom 0
        width 100%
        display flex
        justify-content space-between
        text-align center

    &__specifications
        background $color-platinum
        box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.2)
        max-width 300px

.ui-our-production-specifications
    font-family 'Panton'
    font-size 20px
    line-height 26px
    display flex
    flex-direction column
    height 100%

    &__title
        font-weight bold
        font-size 26px
        color #1b1b1b
        line-height 32px
        padding-bottom 48px
        padding 30px 55px

    &__content
        padding 10px 55px
        flex 1

    &__text + &__text
        margin-top 30px

    &__text

        span
            font-size 16px

    &__button
        padding 30px 20px

.ui-catalog-interactives
    background url('/images/catalog-interactives-bg.png') no-repeat 50% 50%
    padding-top 60px

    &__title
        font-family 'Panton'
        font-size 55px
        color #1c282a
        line-height 70px
        font-weight bold

.ui-main-home
    background url('/images/main-home-bg.png') no-repeat 50% 50%

.ui-catalog

    &__line
        padding 15px 0

.ui-price-calculate
    padding 44px 0

.ui-configurations
    padding-bottom 50px

    &__description
        box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
        background $color-whitesmoke
        font-family 'Panton'
        font-size 16px
        color #090909
        line-height 20px
        padding 43px 23px
        margin-bottom 15px

        ul
            list-style none

            li
                padding-top 30px

.ui-gallery
    padding-bottom 50px

.ui-pagination
    padding 50px 0
    display flex
    align-items center
    justify-content center

    &__item
        padding 0 10px
        font-family 'Panton'
        font-size 20px
        color $color-smokyblack
        line-height 30px

    a
        &:hover
            color $color-darkcoral

        span
            color $color-darkcoral

.ui-page

    &__header
        padding 30px 0

.ui-projects-history
    padding-bottom 30px

    &__text
        box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)
        background #f9f9f9
        padding 26px 35px 8px 27px
        font-family 'Panton'
        font-size 16px
        color #090909
        line-height 20px

    &__description
        padding 25px 13px 30px 13px
        line-height 26px
        margin-bottom 107px

    &__img
        width 100%
        height 100%
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover

    &__line
        padding 0 0 22px 0

.ui-projects-history-cart
    background $color-darkcoral
    color $color-white
    padding  27px 16px 23px 26px
    font-family 'Panton'
    line-height 26px
    margin-bottom 15px
    box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)

    &__title
        font-size 20px
        padding-bottom 36px
        font-weight bold

    &__text
        font-size 16px
        font-weight bold

        span
            font-weight normal

.ui-about
    padding-bottom 30px

    &__line
        padding-bottom 30px

    &__signing-up
        font-family 'PantonRI'
        font-size 20px
        color #090909
        line-height 26px
        padding-top 40px

.ui-about-photo
    width 100%
    height 100%
    background-position 50% 50%
    background-repeat no-repeat
    background-size cover
    box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)

    &__text
        background rgba(0, 0, 0, 0.5)
        padding 28px 34px 16px
        color #fff
        font-family 'Panton'
        font-size 16px
        line-height 20px

.ui-page-faq

    &__photo
        width 100%
        height 100%
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover
        box-shadow 0px 3px 5px 0px rgba(0, 0, 0, 0.1)

.ui-showfaq
    display none
    background #444
    color #fff
    padding 22px 123px 23px 18px
    font-family 'Panton'
    font-size 16px
    line-height 20px
    margin 7px 0 7px 7px
    font-weight normal
    border-radius 2px

    a
        font-weight normal
