// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/animate.css/animate.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';
@import '../../node_modules/owl.carousel/dist/assets/owl.theme.default.css';

// Import Modules
@import '../_modules/link/link';
@import '_variable';
@import 'modules/fonts';
@import 'modules/button';
@import 'modules/steps-vertical';
@import 'modules/form';
@import 'modules/heading';

@import 'grid/mixins/helpers'
@import 'grid/mixins/grid-framework'
@import 'grid/mixins/bem'

// Components
@import 'grid/components/col'
@import 'grid/components/grid'
@import 'grid/components/row'
@import 'grid/components/text'

init($breakpoints, $columns)
// Box sizing partial styles
// Apply a natural box layout model to all elements

*,
*:before,
*:after
    box-sizing border-box
    outline 1px dashed green
    margin 0
    padding 0

.ui-page
  display flex
  flex-direction column

.ui-header
    display flex
    flex-direction column

.ui-header__content
    background-color $color-white
    padding 20px 0

.ui-header__info
    justify-content space-between
    text-transform uppercase
    padding-right 300px

.ui-header__menu
    background-color $color-isabelline

.ui-logo
    cursor pointer

.ui-slogan
    font-family 'Scada'
    font-size 12px
    line-height 16px
    color $color-trolleygrey

.ui-address
    font-family 'Scada'
    font-size 12px
    line-height 16px
    color $color-trolleygrey

    &__header
        display flex
        align-items center

    img
        padding-right 13px

.ui-regim
    font-family 'Scada'
    font-size 12px
    line-height 16px
    color $color-trolleygrey

.ui-phone
    font-family 'Panton'
    font-size 20px
    line-height 32px
    text-transform uppercase

    &__footer
        font-family 'Scada'
        color #fff

.ui-menu
    font-family 'Panton'
    font-size 16px
    line-height 32px
    padding-right 40px
    justify-content space-between

    a
        color #050505
        text-decoration none

    &__link
        &:hover
            color #439fac
            border-bottom 3px solid #439fac
            cursor pointer

.ui-footer-menu
    font-family 'Panton'
    font-size 16px
    line-height 32px
    justify-content space-between

    a
        color $color-trolleygrey
        text-decoration none

    &__link
        &:hover
            cursor pointer

.ui-footer
    background-color $color-dark
    color $color-trolleygrey
    padding 30px 0 20px 0

.ui-footer-copy
    border-top 1px solid $color-trolleygrey
    margin-top 20px
    padding-top 20px
    text-align center
    font-size 12px

.ui-project-home
    background #fff url('/images/project-home-bg.jpg') no-repeat 50% 0
    padding-bottom 30px
    
    &__header
        padding 40px 0 25px
        
    &__content
        height 387px
        background #009ba4
        color #fff
        padding 30px 20px 60px 20px
        position relative
        
    &__title
        font-size 26px
        line-height 36px
        font-family 'Panton'
        font-weight bold
        
    &__text
        font-family 'Panton'
        font-size 16px
        line-height 26px
        margin-top 35px
        
    &__link
        position absolute
        bottom 0
        right 0
        width 60px
        height 60px
        
    &__photo
        background-repeat no-repeat
        background-size cover
        background-position 50% 50%
        height 387px
        width 100%
        
        &--small
            height 185px

        &--small + &--small
            margin-top 17px

.ui-slider-nav
    display flex
    width 100%
    justify-content space-between
    align-items center
    
    &__arrow
        cursor pointer
    
    &__number
        color #fcfcfc
        line-height 40px
        font-size 32px
        font-family 'Rubik'
        font-weight 500
        