extends ../../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../../'

block content
    .ui-service
        .grid.grid--container
            .row
                .col.col--xl-12
                    .ui-page__header.ui-heading.ui-heading--lvl2.ui-heading--black работа с регионами
            .row
                .col.col--xl-12
                    .ui-text-block
                        .ui-text-block__text 
                            p.
                                Продукция компании «ОКИ-ДОКИ» достаточна известна и успешно эксплуатируется далеко за пределами Московского региона. География поставок нашей продукции — практически вся Россия от Хабаровска до Калининграда, а также страны ближнего зарубежья. Мы готовим продукцию к транспортировке и организуем доставку, которая обычно производится либо с помощью транспортной компании, либо самовывозом автотранспортом заказчика с нашего склада в г. Люберцы. Что же касается монтажа, здесь возможны три варианта:
            .row.ui-service__line
                .col.col--xl-4
                    .ui-text-block
                        .ui-text-block__photo
                            img(src="/images/regions/1.png")
                        .ui-text-block__title.ui-text-block__title--grey Монтаж «под ключ»
                        .ui-text-block__text 
                            p.
                                Мы командируем бригаду монтажников. Все работы выполняются нашими силами. Стоимость монтажа и командировочные расходы оплачивает заказчик Данный вид монтажа применяется и для мобильных ширм, и для стационарных перегородок нашего производства.
                .col.col--xl-4
                    .ui-text-block
                        .ui-text-block__photo
                            img(src="/images/regions/2.png")
                        .ui-text-block__title.ui-text-block__title--grey Шеф-монтаж
                        .ui-text-block__text 
                            p.
                                Мы командируем своего специалиста для координации работ по монтажу. Заказчик предоставляет необходимое количество подсобных рабочих и оплачивает только командировочные расходы нашего специалиста Данный вид монтажа применим только для мобильных перегородок в силу конструктивных особенностей.
                .col.col--xl-4
                    .ui-text-block
                        .ui-text-block__photo
                            img(src="/images/regions/3.png")
                        .ui-text-block__title.ui-text-block__title--grey Без монтажа
                        .ui-text-block__text 
                            p.
                                Мы предоставляем инструкцию по сборке, даём необходимые консультации по телефону. Заказчик проводит монтаж своими силами. Данная схема сотрудничества обычно используется при работе с дилерами или со строительными организациями.
