extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    .ui-service
        .grid.grid--container
            .row
                .col.col--xl-12
                    .ui-page__header.ui-heading.ui-heading--lvl2.ui-heading--black сертификаты
            .row
                .col.col--xl-3
                    .ui-certificates-cart
                        .ui-certificates-cart__title Название сертификата #[br]на две строки
                        a.ui-certificates-cart__img(style="background-image: url('/images/certificates/1.png')", href="/images/certificates/1.png")
                        .ui-certificates-cart__description Описание в несколько слов.#[br] Можно на пару строк
                .col.col--xl-3
                    .ui-certificates-cart
                        .ui-certificates-cart__title Название сертификата #[br]на две строки
                        a.ui-certificates-cart__img(style="background-image: url('/images/certificates/1.png')", href="/images/certificates/1.png")
                        .ui-certificates-cart__description Описание в несколько слов.#[br] Можно на пару строк
                .col.col--xl-3
                    .ui-certificates-cart
                        .ui-certificates-cart__title Название сертификата #[br]на две строки
                        a.ui-certificates-cart__img(style="background-image: url('/images/certificates/1.png')", href="/images/certificates/1.png")
                        .ui-certificates-cart__description Описание в несколько слов.#[br] Можно на пару строк
                .col.col--xl-3
                    .ui-certificates-cart
                        .ui-certificates-cart__title Название сертификата #[br]на две строки
                        a.ui-certificates-cart__img(style="background-image: url('/images/certificates/1.png')", href="/images/certificates/1.png")
                        .ui-certificates-cart__description Описание в несколько слов.#[br] Можно на пару строк
                .col.col--xl-3
                    .ui-certificates-cart
                        .ui-certificates-cart__title Название сертификата #[br]на две строки
                        a.ui-certificates-cart__img(style="background-image: url('/images/certificates/1.png')", href="/images/certificates/1.png")
                        .ui-certificates-cart__description Описание в несколько слов.#[br] Можно на пару строк
                .col.col--xl-3
                    .ui-certificates-cart
                        .ui-certificates-cart__title Название сертификата #[br]на две строки
                        a.ui-certificates-cart__img(style="background-image: url('/images/certificates/1.png')", href="/images/certificates/1.png")
                        .ui-certificates-cart__description Описание в несколько слов.#[br] Можно на пару строк
                .col.col--xl-3
                    .ui-certificates-cart
                        .ui-certificates-cart__title Название сертификата #[br]на две строки
                        a.ui-certificates-cart__img(style="background-image: url('/images/certificates/1.png')", href="/images/certificates/1.png")
                        .ui-certificates-cart__description Описание в несколько слов.#[br] Можно на пару строк
                .col.col--xl-3
                    .ui-certificates-cart
                        .ui-certificates-cart__title Название сертификата #[br]на две строки
                        a.ui-certificates-cart__img(style="background-image: url('/images/certificates/1.png')", href="/images/certificates/1.png")
                        .ui-certificates-cart__description Описание в несколько слов.#[br] Можно на пару строк
